In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
df = pd.read_csv('../data/airbnb.csv')

In [7]:
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,27886.0,"Romantic, stylish B&B houseboat in canal district",97647,Flip,NaN,Centrum-West,52.38761,4.89188,Private room,132.0,3,302,6/11/2025,1.85,1,53,28,0363 974D 4986 7411 88D8
1,28871.0,Comfortable double room,124245,Edwin,NaN,Centrum-West,52.36775,4.89092,Private room,78.0,2,710,6/16/2025,3.93,2,130,93,0363 607B EA74 0BD8 2F6F
2,29051.0,Comfortable single / double room,124245,Edwin,NaN,Centrum-Oost,52.36584,4.89111,Private room,70.0,2,822,6/14/2025,4.74,2,121,86,0363 607B EA74 0BD8 2F6F
3,44391.0,Quiet 2-bedroom Amsterdam city centre apartment,194779,Jan,NaN,Centrum-Oost,52.37168,4.91471,Entire home/apt,NaN,3,42,8/20/2022,0.23,1,0,0,0363 E76E F06A C1DD 172C
4,47061.0,Charming apartment in old centre,211696,Ivar,NaN,De Baarsjes - Oud-West,52.36786,4.87458,Entire home/apt,120.0,2,203,5/29/2025,1.13,1,66,5,0363 1266 8C04 4133 E6AC

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10168 entries, 0 to 10167
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              10168 non-null  float64
 1   name                            10168 non-null  object
 2   host_id                         10168 non-null  int64
 3   host_name                       10164 non-null  object
 4   neighbourhood_group             0 non-null      float64
 5   neighbourhood                   10168 non-null  object
 6   latitude                        10168 non-null  float64
 7   longitude                       10168 non-null  float64
 8   room_type                       10168 non-null  object
 9   price                           6321 non-null   float64
 10  minimum_nights                  10168 non-null  int64
 11  number_of_reviews               10168 non-null  int64
 12  last_review                     9198 non-null   object
 13  reviews_per_month               9198 non-null   float64
 14  calculated_host_listings_count  10168 non-null  int64
 15  availability_365                10168 non-null  int64
 16  number_of_reviews_ltm           10168 non-null  int64
 17  license                         10062 non-null  object
dtypes: float64(6), int64(6), object(6)
memory usage: 1.4+ MB